/* Universal Styles */

html {
  font-size: 14px;
}

body {
  padding-top: 70px;
  font-family: "Open Sans", sans-serif;
}


/* Navigation bar */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

nav {
  font-size: 1.1rem;
  font-weight: bold;
}
